In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
raw_data = pd.read_csv("./20190102.csv", header=None)
raw_data.columns = ['raw']

In [22]:
tmp1 = raw_data["raw"].str.split("#")
raw_data["stock_code"] = tmp1.str[0]
tmp2 = tmp1.str[1].str.split("$")
raw_data["datetime"] = tmp2.str[0]
tmp3 = tmp2.str[1].str.split("\t")
raw_data["feature_name"] = tmp3.str[0]
raw_data["feature_value"] = tmp3.str[1].astype("float32")
raw_data

,raw,stock_code,datetime,feature_name,feature_value
0,010107#201901020925$Amount\t82312.0,010107,201901020925,Amount,82312.000000
1,010107#201901020925$Close\t102.89,010107,201901020925,Close,102.889999
2,010107#201901020925$Count\t5.0,010107,201901020925,Count,5.000000
3,010107#201901020925$High\t102.89,010107,201901020925,High,102.889999
4,010107#201901020925$Low\t102.89,010107,201901020925,Low,102.889999
...,...,...,...,...,...
2359800,900957#201901021455$Count\t2.0,900957,201901021455,Count,2.000000
2359801,900957#201901021455$High\t0.618,900957,201901021455,High,0.618000
2359802,900957#201901021455$Low\t0.618,900957,201901021455,Low,0.618000
2359803,900957#201901021455$Open\t0.618,900957,201901021455,Open,0.618000
2359804,900957#201901021455$Qty\t1500.0,900957,201901021455,Qty,1500.000000

In [23]:
data = raw_data.iloc[:,1:]
data

        stock_code      datetime feature_name  feature_value
0           010107  201901020925       Amount   82312.000000
1           010107  201901020925        Close     102.889999
2           010107  201901020925        Count       5.000000
3           010107  201901020925         High     102.889999
4           010107  201901020925          Low     102.889999
...            ...           ...          ...            ...
2359800     900957  201901021455        Count       2.000000
2359801     900957  201901021455         High       0.618000
2359802     900957  201901021455          Low       0.618000
2359803     900957  201901021455         Open       0.618000
2359804     900957  201901021455          Qty    1500.000000

[2359805 rows x 4 columns]

In [24]:
data.pivot(index=['stock_code','datetime'],columns='feature_name',values='feature_value')

feature_name                    Amount       Close  Count        High  \
stock_code datetime
010107     201901020925   82312.000000  102.889999    5.0  102.889999
           201901020930  221213.500000  102.889999    6.0  102.889999
           201901020931  205673.500000  102.860001    6.0  102.860001
           201901020933    1028.800049  102.879997    1.0  102.879997
           201901020935  151245.500000  102.889999    2.0  102.889999
...                                ...         ...    ...         ...
900957     201901021359     858.200012    0.613000    1.0    0.613000
           201901021433    1606.800049    0.618000    2.0    0.618000
           201901021441     370.799988    0.618000    1.0    0.618000
           201901021444    1236.000000    0.618000    1.0    0.618000
           201901021455     927.000000    0.618000    2.0    0.618000

feature_name                    Low        Open     Qty
stock_code datetime
010107     201901020925  102.889999  102.889999    80.0
           201901020930  102.889999  102.889999   215.0
           201901020931  102.820000  102.860001   200.0
           201901020933  102.879997  102.879997     1.0
           201901020935  102.879997  102.879997   147.0
...                             ...         ...     ...
900957     201901021359    0.613000    0.613000  1400.0
           201901021433    0.618000    0.618000  2600.0
           201901021441    0.618000    0.618000   600.0
           201901021444    0.618000    0.618000  2000.0
           201901021455    0.618000    0.618000  1500.0

[337115 rows x 7 columns]